body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#grid-size {
  background-color: white;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}
.container {
  margin: 30px;
  border: 1px solid black;
  width: 480px;
  height: 542px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.trail {
  background-color: darkcyan;
}
